.venv/
venv/
__pycache__/

.env            # Blocks .env
.env.*          # Blocks .env.anything
.env.openai     # Explicit backup
.env.internal   # Explicit backup
.idea/.env.gemini

!.env.example   # Exception: keep .env.example

*.pyc
.DS_Store

